<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>AccountDashboard</display-name>
    <servlet-name>AccountDashboard</servlet-name>
    <servlet-class>com.simplilearn.controller.AccountDashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountDashboard</servlet-name>
    <url-pattern>/AccountDashboard</url-pattern>
  </servlet-mapping>
  <display-name>AuthenticationUsingFilters</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AccountProfile</display-name>
    <servlet-name>AccountProfile</servlet-name>
    <servlet-class>com.simplilearn.controller.AccountProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountProfile</servlet-name>
    <url-pattern>/AccountProfile</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>InfoPage</display-name>
    <filter-name>InfoPage</filter-name>
    <filter-class>com.simplilearn.controller.InfoPage</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>InfoPage</filter-name>
    <url-pattern>/InfoPage</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>InfoPage</display-name>
    <servlet-name>InfoPage</servlet-name>
    <servlet-class>com.simplilearn.controller.InfoPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InfoPage</servlet-name>
    <url-pattern>/InfoPage</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.simplilearn.controller.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/LoginFilter</url-pattern>
  </filter-mapping>
</web-app>